.AddGreeter {
    margin: 20px;
    padding: 20px;
    background: #D3D3D3;
    text-align: center;
  }
  .AddGreeter input[type="text"],
  .AddGreeter button{
    width: 100%;
    border:none;
  }
  .AddGreeter button{
    background-color: #35424a;
    min-height: 30px;
    color: #ffffff;
    cursor: pointer;
  }