div.round-edge-box {
    border:2px solid #ccc;
    text-align: center;
    background-color:#fff;
    color:#7F7F7F;
    margin: 20px;
    padding: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
  }
  @media(max-width: 768px){
    div.round-edge-box{
        width: 100%;
        float: none;
    }
}
  div.round-edge-box h3{
    border-bottom: 1px dashed #7F7F7F;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#FFEFEF;
    color:#35424a;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}