.HelloWorldList {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 0 30px 30px 30px;
    background-color: #ffffff;
  }