/*Footer*/
footer{
    padding: 5px;
    margin-top: 30px;
    color: #ffffff;
    background-color: #61DBFB;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
}