/*Footer*/
footer{
    padding: 5px;
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
    color: #35424a;
}