header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
}

header .current a{
    color: #fff;
    border-bottom: 3px solid #ff5050;
    pointer-events: none;
    cursor: default;
}

header nav a:hover{
    color: #fff;
    border-bottom: 3px solid #ff5050;
}