/*Global*/
#root {
    position: relative;
    width: 100%;
    min-height:100%;
}
.hidden{
    display: none;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
div.main-content{
    width: 80%;
    margin: auto;
    overflow: hidden;
    min-height: 100px;
}

/*Header*/
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #61DBFB 3px solid;
    min-width:100%;
    float:left;
    padding:15px;
    width: 100%;
    margin-bottom: 30px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin:0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight{
    color: #61DBFB;
    font-weight: bold;
}
header a:hover{
    color:#ffffff;
    font-weight: bold;
}
.btn {
    cursor: pointer;
    background-color: #EF7777;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 10px;
    padding: 10px;
    width: 100%;
}
.btn:hover{
    background: #FE6868;
}
.btn:active{
    background: #E38383;
}

span.box-close{
    float: right;
    margin-top: -30px;
    margin-right: -30px;
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
    background: #EF7777;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 10px 1px 14px;     
    padding-bottom: 15px;
    opacity: 0;
}
span.box-close:hover{
  background: #FE6868;
}
span.box-close:active{
    background: #E38383;
  }
.box-close:before {
    content: "×";
}
div.round-edge-box:hover span.box-close {
    opacity: 1;
}
.delete-btn {
    cursor: pointer;
    background-color: #EF7777;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 0px 4px 2px 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
.delete-btn:hover {
    background-color: #FE6868;
}
.delete-btn:active {
    background-color: #E38383;
}

.list li:hover .delete-btn {
    opacity: 1;
}

/*Media Query*/
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
}
